body{
    margin: 0;
    padding: 0;
    background-color: rgb(51, 48, 48);
}
.layoutnav{
    margin:0 auto;
}
nav{
    height: 60px;
    background: rgb(0, 0, 0);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    padding: 0em;
}
nav ul{
    padding: 0;
    margin: 0;
    float: none;
    margin-right: 30px;
}
nav ul li{
    background: rgb(0, 0, 0);
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover{
    background: rgb(43, 42, 42);
}
.img01{
    
}
.text1{
    text-align: center;
    font-style: italic;
}
.soul{
    background-color: rgb(51, 48, 48);
    height: 300px;
    width: 33.3%;
    float: left;
}
.soul2{
    background-color: rgb(51, 48, 48);
    height: 300px;
    width: 33.3%;
    float: left;
}
.soul3{
    background-color: rgb(51, 48, 48);
    height: 300px;
    width: 33.3%;
    float: left;
}
.soul p{
    margin-left: 1.1em;
    margin-right: 1.1em;
}
.soul2 p{
    margin-left: 1.1em;
    margin-right: 1.1em;
}
.soul3 p{
    margin-left: 1.1em;
    margin-right: 1.1em;
}